.section-title {
    text-align: center;
    color: #333333;
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 28px;
}
.section{
    text-align: center;
}
.decoration-line{
    margin-bottom: 57px;
    background: #F48E0B;
    width: 60px;
    height: 3px;
}
.section-text {
    margin-bottom: 26px;
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    font-weight: 400;
}
.nav-logo {
    margin-bottom: 7px;
    margin: a;
    color: #F1B128;
    /*преобразование в КАПС*/
    text-transform: uppercase;
    font-size: 36px;
    font-weight: bold;
}
.nav-list {
    list-style: none;
}
.nav-list-item{
    margin-right: 20px;
    display: inline-block;
}
.nav-item {
    color: red;
}
.nav-link {
    color: #3D3D3D;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    /*убираем подчеркивание текста*/
    text-decoration: none;
}
.services-title {
    color: #333333;
    text-transform: uppercase;
    font-weight: bold;
    /*font-weight: 700;*/
    line-height: 18px;
    font-size: 18px;
}
.section-text{

}
.text-selected{
    color:#F1AD1D;
}
.services-text{
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #505050;
}
.services-link{
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #F1AD1D;
    width: 600px;
}
.nav-list-item{
    display: inline-block;
    margin-right: 70px;
}